body {
  background-color: pink;
  color: #e9c4c4;
  text-align: left;
  font-size: 25px;
  font-family: Arial, sans-serif;
  padding: 40px;
}

form {
  max-width: 300px;
}

input, select, button {
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}
